body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Quicksand';
  /*background-color: #59C3C3;*/
  background-color:#20B5C9;
  color:white
}
.btn-myButton{
	background-color:#4062BB;
	
	color:white;
	
}
.btn-button2{
	background-color:#F45B69;
	color:white;
	
}